
/* === Default === */
$c-bg: #ffffff;
$c-bg-alt: #f6f6f7;
$c-bg-elv: #ffffff;
$c-bg-soft: #f6f6f7;

/* === Dark === */
$dark-c-bg: #1b1b1f;
$dark-c-bg-alt: #161618;
$dark-c-bg-elv: #202127;
$dark-c-bg-soft: #202127;

:export {
  c-bg: $c-bg;
  c-bg-alt: $c-bg-alt;
  c-bg-elv: $c-bg-elv;
  c-bg-soft: $c-bg-soft;
  dark-c-bg: $dark-c-bg;
  dark-c-bg-alt: $dark-c-bg-alt;
  dark-c-bg-elv: $dark-c-bg-elv;
  dark-c-bg-soft: $dark-c-bg-soft;
}
