.g-base-button {
  @apply bg-transparent cursor-pointer border-none p-1;
  border-radius: var(--border-radius);
  color: var(--c-text-1);
  transition: color .3s var(--transition-bezier), background-color .3s var(--transition-bezier);
  &:hover {
    background-color: var(--c-hover);
  }
}
